@page "/"

<PageTitle>SZES</PageTitle>

<h1 style="color:#0e2161">SZES</h1>

<h6><span style="color:rebeccapurple"><b>S</b></span>mart<span style="color:rebeccapurple"><b>Z</b></span>eit<span style="color:rebeccapurple"><b>E</b></span>fassung<span style="color:rebeccapurple"><b>S</b></span>ystem</h6>

powerd by Amir Gilani<h1>&#128116;</h1>


